.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.config/KDE
.config/PlasmaDiscoverUpdates
.config/QtProject.conf
.config/Trolltech.conf
.config/Unknown Organization
.config/akonadi
.config/akonadi-firstrunrc
.config/akonadi-migrationrc
.config/akonadi_akonotes_resource_0rc
.config/akonadi_contacts_resource_0rc
.config/akonadi_ical_resource_0rc
.config/akonadi_indexing_agentrc
.config/akonadi_maildir_resource_0rc
.config/akregatorrc
.config/arkrc
.config/autostart
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/dconf
.config/discord
.config/discoverrc
.config/dolphinrc
.config/drkonqirc
.config/emaildefaults
.config/emailidentities
.config/gtk-3.0
.config/gtk-4.0
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kalendaracrc
.config/katemetainfos
.config/katerc
.config/kateschemarc
.config/katevirc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org
.config/kdeconnect
.config/kded5rc
.config/kdedefaults
.config/kdeglobals
.config/kfontinstuirc
.config/kfontviewrc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/khtml
.config/kiorc
.config/kmail2rc
.config/kmixctrlrc
.config/kmixrc
.config/kokorc
.config/konq_history
.config/konquerorrc
.config/konsolerc
.config/konsolesshconfig
.config/krunnerrc
.config/kscreenlockerrc
.config/kservicemenurc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/ktrashrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/lazygit
.config/libaccounts-glib
.config/lutris
.config/mimeapps.list
.config/neofetch
.config/nvim
.config/okularpartrc
.config/okularrc
.config/opera
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasmanotifyrc
.config/plasmaparc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse
.config/session
.config/specialmailcollectionsrc
.config/spectaclerc
.config/systemmonitorrc
.config/systemsettingsrc
.config/thefuck
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/webengineurlinterceptoradblockrc
.config/xsettingsd
.gtkrc-2.0
.histfile
.local
.mozilla/firefox
.oh-my-zsh
.pki/nssdb
.psensor
.rustup
.var/app
.wget-hsts
.wine
.zcompdump
.zcompdump-zivit-pc-5.9
.zcompdump-zivit-pc-5.9.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
Desktop
Documents
Downloads
